.categories {
  width: 100%;
  margin: 50px auto 0;
  @media screen and (min-width: $bp-laptop) {
    margin: 100px auto 0;
  }
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
}

//--card
.categories__item {
  position: relative;
  width: 360px;
  height: 360px;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  @media screen and (min-width: $bp-tablet) {
    width: 222px;
    height: 222px;
    &:not(:nth-child(3n)) {
      margin-right: 10px;
    }
    &:nth-child(n + 4) {
      margin-top: 10px;
    }
  }
  @media screen and (min-width: $bp-laptop) {
    width: 326px;
    height: 326px;
  }
  @media screen and (min-width: $bp-desktop) {
    width: 532px;
    height: 532px;
    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }
    &:nth-child(n + 4) {
      margin-top: 20px;
    }
  }
}

.categories__img {
  width: 100%;
  height: 100%;
}
.categories__descr {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.categories__name {
  text-transform: uppercase;
  color: $light-text-color;
  font-size: 40px;
  @media screen and (min-width: $bp-tablet) {
    font-size: 27px;
  }
  @media screen and (min-width: $bp-laptop) {
    font-size: 39px;
  }
  @media screen and (min-width: $bp-desktop) {
    font-size: 50px;
  }
}

.categories__plea {
  padding: 4px 0;
  color: $light-text-color;
  border-bottom: solid 1px $light-text-color;
  text-transform: uppercase;
  &::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 14px;
    margin-left: 11px;
    background-image: url("../images/svg/white-angle-right.svg");
    background-repeat: no-repeat;
  }
}

.categories__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  &:hover,
  &:focus {
    background-color: $accent-color-transparent;
  }
  @include transition(background-color);
}
