.hero {
  height: 930px;
  padding-top: 333px;
  padding-right: 20vw;
  background-image: url('../images/hero-bg.jpg');
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5) {
    background-image: url('../images/hero-bg@2x.jpg');
  }
  background-position: left top;
  background-size: cover;
  &__logo {
    position: relative;
    text-align: right;
    margin-left: auto;
    width: 765px;
    height: 126px;
  }
  &__slogan {
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-left: auto;
    width: max-content;
    color: $light-text-color;
  }
}
.slogan-icon {
  margin-left: 21px;
}
.outline {
  position: absolute;
  top: 0;
  left: 0;
}
