.hero {
  height: 643px;
  width: 100%;
  padding-top: 260px;
  padding-right: 5vw;
  background-image: url("../images/hero-bg.jpg");
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5) {
    background-image: url("../images/hero-bg@2x.jpg");
  }
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  &__logo {
    position: relative;
    text-align: right;
    margin-left: auto;
    width: 280px;
  }
  &__slogan {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    width: max-content;
    color: $light-text-color;
  }
  @media screen and (min-width: $bp-tablet) {
    height: 500px;
    padding-top: 200px;
    padding-right: 15vw;
    &__logo {
      width: 300px;
    }
  }
  @media screen and (min-width: $bp-laptop) {
    height: 725px;
    padding-top: 300px;
    &__logo {
      width: 500px;
    }

    &__slogan {
      margin-top: 22px;
    }
  }
  @media screen and (min-width: $bp-desktop) {
    height: 930px;
    padding-top: 333px;
    &__logo {
      width: 765px;
    }
  }
}
.slogan-icon {
  margin-left: 21px;
}
.outline {
  position: absolute;
  top: 0;
  left: 0;
}
