//sections
.new-in,
.best-sellers {
  margin-top: 72px;
  width: 100%;
  @media screen and (min-width: $bp-laptop) {
    margin-top: 122px;
  }
}
//--buttons--
.btn-prev,
.btn-next {
  width: 46px;
  height: 100px;
  border: none;
  background-color: transparent;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 35px;
  @media screen and (min-width: $bp-tablet) {
    background-size: 28px 49px;
  }
}

.btn-prev {
  background-image: url("../images/svg/angle-left.svg");
  margin-right: 20px;
}

.btn-next {
  background-image: url("../images/svg/angle-right.svg");
  margin-left: 20px;
}

.btn-prev:hover,
.btn-next:hover {
  transform: scale(0.8);
}

//--slider--
.new-in__wrapper,
.best-sellers__wrapper {
  display: flex;
  align-items: center;
  margin: 50px auto 0;
  padding: 0 20px;
  width: 360px;
  @media screen and (min-width: $bp-tablet) {
    width: 768px;
  }
  @media screen and (min-width: $bp-laptop) {
    margin: 73px auto 0;
    width: 1200px;
  }
  @media screen and (min-width: $bp-desktop) {
    width: 1920px;
  }
}

.new-in__slider,
.best-sellers__slider {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}

.product {
  position: relative;

  width: 230px;
  height: 245px;
  &::not(:last-child) {
    margin-right: 40px;
  }

  &__descr-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  &__descr-wrapper:hover,
  &__descr-wrapper:focus {
    & > .product__underline {
      transform: scaleX(100);
    }
  }
  &__name {
    text-transform: uppercase;
  }
  &__brand {
    color: $secondary-text-color;
  }
  &__plea {
    text-transform: uppercase;
  }
  &__underline {
    margin: 5px auto 0;
    width: 1px;
    height: 2px;
    background-color: $accent-color;
    @include transition(transform);
  }

  &__image {
    display: block;
    max-width: 100%;
    max-height: 65%;
    margin: 0 auto;
  }
  &__image:focus,
  &__image:hover {
    transform: scale(1.1);
  }

  @media screen and (min-width: $bp-tablet) {
    width: 210px;
    height: 232px;
  }
  @media screen and (min-width: $bp-laptop) {
    width: 226px;
    height: 240px;
    &__descr-wrapper {
      font-size: 14px;
    }
  }
  @media screen and (min-width: $bp-desktop) {
    width: 394px;
    height: 367px;
    &__descr-wrapper {
      font-size: 16px;
    }
    &__image {
      max-height: 75%;
    }
  }
}

.wish-btn {
  position: absolute;
  bottom: 70px;
  right: 0;
  width: 20px;
  height: 20px;
  display: block;
  margin-left: auto;
  border: none;
  background-color: inherit;
  background-image: url("../images/svg/heart-regular.svg");
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
  &:hover,
  &:focus {
    background-image: url("../images/svg/heart-solid.svg");
  }
}
