.title-section {
  height: 112px;
  padding-top: 38px;
  padding-bottom: 44px;
  background-color: $accent-color;
}

.main-title {
  width: fit-content;
  margin: auto;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
