$font-family: "Work Sans", sans-serif;

$main-text-color: #000000;
$secondary-text-color: #999999;
$light-text-color: #ffffff;
$background-color: #ffffff;
$border-color: #707070;
$overlay-color: #00000049;
$accent-color: #e0ff04;
$accent-color-transparent: #e2ff04c4;

$bp-mobile: 360px;
$bp-tablet: 768px;
$bp-laptop: 1200px;
$bp-desktop: 1920px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
